@media (min-width: 992px) and (max-width: 1199px) {
  .top-menu__item {
    font-size: 12px;
    margin-right: 15px; }
  .lg-none {
    display: none; }
  .main-menu__item {
    font-size: 12px; }
    .main-menu__item a {
      padding-left: 10px;
      padding-right: 10px; }
  .has-child > a {
    padding-left: 54px; }
  .header__contacts {
    padding-left: 0; }
  .banner__inner {
    flex-wrap: wrap; }
  .banner__left {
    max-width: 100%; }
  .banner__right {
    max-width: 100%; }
  .service-item_right {
    padding-right: 0; }
  .delivery-form__input {
    width: 270px; }
  .delivery-form__btn {
    width: 270px; }
  .packing-item {
    padding-top: 40px;
    padding-bottom: 20px; }
  .calculate-form__textarea {
    width: 876px; }
  .calculate-form__txt.txt {
    padding-left: 40px; }
  .calculate-form__input {
    width: 420px; }
  .dropdown-menu {
    top: 34px; } }

@media (max-width: 991px) {
  .header__top {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    z-index: 10;
    padding-top: 65px;
    padding-left: 10px;
    padding-bottom: 20px;
    display: none; }
  .close-menu {
    position: absolute;
    top: 20px;
    right: 19px; }
  .top-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 59px; }
  .top-menu__item {
    text-transform: initial;
    margin-right: 0;
    margin-bottom: 26px; }
  .btn_gray {
    text-transform: initial;
    font-size: 14px;
    margin-left: 0;
    text-align: left;
    padding-left: 20px;
    width: 260px; }
    .btn_gray::after {
      margin-left: 67px;
      position: relative;
      top: 2px; }
  .md-none {
    display: none; }
  .logo__txt {
    display: none; }
  .contacts-info__txt-mail {
    display: none; }
  .contacts-info__txt-phone_blue {
    font-size: 0; }
  .contacts-info__title {
    display: none; }
  .m-menu {
    display: block; }
  .logo {
    display: block;
    text-align: center; }
    .logo__img {
      margin-bottom: 0; }
  .header__center .row {
    -webkit-box-align: center;
    align-items: center; }
  .calculate-form__textarea {
    max-width: 673px; }
  .main-menu__item {
    display: none; }
  .main-menu__item.has-child {
    display: block; }
  .banner__inner {
    flex-wrap: wrap; }
  .banner__left {
    max-width: 100%; }
  .banner__right {
    max-width: 100%; }
  .aside-contacts .contacts-info__txt-phone_blue {
    font-size: 16px; }
  .main {
    padding-top: 10px; }
  .service-item_right {
    padding-left: 0; }
  .countries-slider {
    margin-left: 0;
    margin-right: 0; }
  .delivery-form__input {
    width: 30%; }
  .delivery-form__btn {
    width: 30%; }
  .calculate-form__input {
    width: 320px; }
  .calculate-form__txt.txt {
    padding-left: 20px; }
  .copyright {
    margin-top: 0; }
  .banner {
    margin-left: auto;
    margin-right: auto; }
  .logo__img {
    margin-left: 0; }
  .aside .contacts-info__title {
    display: block; }
  .aside .contacts-info__txt-mail {
    display: block; }
  .main-menu {
    padding-left: 0; }
  span.close-menu {
    display: block; } }

@media (max-width: 767px) {
  .calculate-form__group {
    width: 100%; }
  .calculate-form__input {
    width: 100%; }
  .calculate-form__textarea {
    width: 100%; }
  .header__center {
    padding-top: 20px;
    padding-bottom: 81px; }
  .open-menu {
    position: relative;
    top: -4px; }
  .header__contacts {
    padding-left: 0; }
  .header .contacts-info__txt-phone_blue::before {
    content: "";
    width: 32px;
    height: 32px;
    display: block;
    background: transparent url(../img/icons/phone-icon.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    top: -5px; }
  .order-btn {
    display: none; }
  .logo {
    position: relative; }
    .logo__txt {
      position: absolute;
      display: block;
      left: -50px;
      right: -50px;
      bottom: -62px; }
  .main-menu {
    padding-left: 0; }
  .main-menu__item > a {
    display: block;
    padding-bottom: 11px; }
  .has-child > a::before {
    top: 15px; }
  .banner__title {
    font-size: 20px;
    line-height: 36px;
    padding: 10px 10px 20px;
    -webkit-box-ordinal-group: 2;
    order: 1;
    margin-bottom: 0; }
  .banner__title span::after {
    top: 7px; }
  .banner__subtitle {
    -webkit-box-ordinal-group: 3;
    order: 2;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    padding-top: 11px;
    padding-bottom: 14px; }
  .banner__txt {
    -webkit-box-ordinal-group: 4;
    order: 3;
    padding-left: 16px;
    padding-right: 0;
    padding-top: 21px;
    margin-bottom: 50px; }
  .main-form__body {
    padding-left: 28px;
    padding-right: 30px; }
  .aside {
    padding-left: 25px;
    padding-right: 25px; }
  .aside-contacts {
    margin-top: -9px;
    margin-bottom: 20px; }
  .section-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center; }
  .section-service {
    padding-top: 20px; }
  .service-item__title {
    line-height: 25px;
    margin-bottom: 9px; }
  .section-service__title {
    margin-bottom: 22px; }
  .service-item__img {
    margin-right: 23px;
    margin-top: 6px; }
  .service-item {
    margin-bottom: 21px; }
  .section-service .row .col-md-6:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .section-service .row .col-md-6:nth-child(2) {
    -webkit-box-ordinal-group: 5;
    order: 4; }
  .section-service .row .col-md-6:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .section-service .row .col-md-6:nth-child(4) {
    -webkit-box-ordinal-group: 6;
    order: 5; }
  .section-service .row .col-md-6:nth-child(5) {
    -webkit-box-ordinal-group: 4;
    order: 3; }
  .section-service .row .col-md-6:nth-child(6) {
    -webkit-box-ordinal-group: 7;
    order: 6; }
  .about-section__info {
    background: #fff;
    padding-top: 14px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 23px; }
  .about-section {
    padding-top: 10px; }
  .about-section__title {
    margin-left: 0;
    margin-bottom: 21px; }
  .countries {
    padding-top: 30px;
    padding-bottom: 0; }
  .countries__title {
    margin-bottom: 20px; }
  .scroll-top .btn-top {
    display: none; }
  .countries-list {
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll; }
  .countries-item__img img {
    max-width: initial; }
  .delivery-section {
    padding-top: 5px;
    padding-bottom: 0; }
  .delivery-section__title {
    margin-bottom: 25px; }
  .delivery-item__title {
    margin-bottom: 9px; }
  .delivery-item__txt {
    margin-bottom: 5px; }
  .delivery-item {
    margin-bottom: 25px; }
  .delivery-form__input {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .delivery-form__btn {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    order: 3;
    height: 76px; }
  .delivery-form {
    margin-top: -1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 19px; }
  .delivery-form__txt {
    text-align: center;
    -webkit-box-ordinal-group: 3;
    order: 2;
    margin-top: 9px;
    margin-bottom: 20px; }
  .section-head .slick-disabled {
    opacity: 1; }
  .popular-section {
    padding-top: 30px;
    padding-bottom: 0; }
  .popular-section__title {
    margin-bottom: 20px; }
  .possibility {
    margin-top: -9px;
    padding-bottom: 0; }
    .possibility__title {
      margin-bottom: 9px; }
  .possibility-list {
    padding-top: 15px;
    margin-bottom: 0; }
  .possibility-item__title {
    padding: 0 20px;
    line-height: 25px; }
  .possibility-item {
    margin-bottom: 37px; }
  .possibility-txt {
    margin-top: -1px;
    line-height: 22px; }
    .possibility-txt p {
      margin-bottom: 15px; }
  .import-list {
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom: 15px;
    margin-bottom: 21px; }
  .import-section__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 16px; }
  .import-section {
    padding-top: 17px;
    padding-bottom: 0; }
  .import-item {
    margin-bottom: 19px; }
  .import-txt {
    text-align: left; }
  .packing {
    padding-top: 14px;
    padding-bottom: 0; }
  .packing__title {
    margin-bottom: 20px; }
  .packing-item {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  .packing-list {
    margin-bottom: 4px; }
  .packing-info__inner {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 23px;
    padding-bottom: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .packing-info__img {
    margin-right: 0;
    margin-bottom: 20px; }
  .packing-info__txt {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0; }
  .packing__txt-top {
    margin-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 20px; }
  .calculate__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px; }
  .calculate-form {
    border: none; }
  .calculate {
    padding-top: 5px;
    padding-bottom: 23px; }
  .calculate-form__inner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; }
  .calculate-form__group {
    margin-bottom: 21px; }
  .calculate-form__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .calculate-form__txt.txt {
    padding-left: 0;
    margin-bottom: 30px;
    text-align: left; }
  .calculate-form__btn {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px; }
  .dropdown-menu {
    top: 49px;
    width: 320px;
    left: -10px; }
  button.btn-top {
    top: -58px;
    margin-left: auto;
    margin-right: auto;
    width: 52px;
    left: 0; }
  .footer {
    padding-top: 32px; }
  .footer__logo {
    text-align: center; }
  .footer__txt {
    text-align: center;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .footer-contacts {
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px; }
  .footer-map {
    margin-top: -1px;
    text-align: center; }
    .footer-map > ymaps {
      margin-left: auto;
      margin-right: auto; }
  .footer__block {
    margin-bottom: 23px; }
  .footer__block-title {
    margin-bottom: 17px; }
  .footer-menu__item {
    margin-bottom: 16px; }
  .copyright {
    font-size: 14px;
    line-height: 26px;
    margin-top: 2px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto; }
  .modal .main-form__body {
    padding-left: 20px;
    padding-right: 23px; }
  .banner {
    min-height: initial;
    background-size: 100% 100%; } }
