body {
  font-family: 'SF Pro Display';
  font-size: 16px;
  color: #000;
  position: relative; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

* {
  outline: none !important; }

a, button {
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out; }
  a:hover, button:hover {
    text-decoration: none; }

.menu {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item {
    font-size: 16px;
    color: #131313;
    margin-right: 68px; }
    .menu__item:last-child {
      margin-right: 0; }
    .menu__item a {
      color: #131313; }
      .menu__item a:hover {
        color: #414AFA; }

.header {
  padding-top: 17px;
  padding-bottom: 17px; }
  .header__nav {
    padding-top: 15px;
    margin-left: auto; }
  .header__phone {
    margin-left: auto;
    margin-top: 8px; }

.phone a {
  font-size: 17px;
  color: #1B1B1B;
  display: inline-block;
  background: #FFD027;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 8px 15px 7px 15px; }
  .phone a::before {
    content: url(../img/icons/phone.svg);
    margin-right: 9px; }
  .phone a:hover {
    background: #ffc800; }

.top-wrapper {
  background: #F5F8FF url(../img/top-bg.png) top 0px right 0px no-repeat; }

.main {
  padding-top: 71px; }
  .main-info__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 65px;
    color: #141414;
    margin-bottom: 34px;
    padding-right: 60px; }
  .main-info__desc {
    font-size: 19px;
    line-height: 33px;
    color: #2B262D;
    padding-right: 40px;
    margin-bottom: 62px; }
  .main-info__more {
    height: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-top: 41px;
    padding-bottom: 27px; }
    .main-info__more::before {
      content: "";
      height: 100%;
      min-width: 100vw;
      background: #FFFFFF;
      -webkit-box-shadow: 0px -7px 20px #E8EDFB;
              box-shadow: 0px -7px 20px #E8EDFB;
      -webkit-border-radius: 0 40px 0 0;
              border-radius: 0 40px 0 0;
      position: absolute;
      top: 0;
      right: 14px; }
    .main-info__more span {
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #131313;
      padding-left: 26px;
      border-left: 2px solid #222222;
      max-width: 200px;
      margin-right: 62px;
      position: relative;
      z-index: 2;
      display: block; }
  .main-video__player {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
    height: 380px;
    -webkit-box-shadow: 0px 27px 45px #677799;
            box-shadow: 0px 27px 45px #677799; }
  .main-video__btn {
    border: none;
    background: -webkit-linear-gradient(103.88deg, #4A50E6 3.9%, #656BFF 78.76%);
    background: -o-linear-gradient(103.88deg, #4A50E6 3.9%, #656BFF 78.76%);
    background: linear-gradient(346.12deg, #4A50E6 3.9%, #656BFF 78.76%);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: -9px 4px 30px #7376B0;
            box-shadow: -9px 4px 30px #7376B0;
    font-size: 17px;
    color: #fff;
    width: 265px;
    height: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
    position: relative;
    z-index: 9;
    padding-left: 30px; }
    .main-video__btn::before {
      content: url(../img/icons/play.svg);
      position: absolute;
      left: 10px;
      top: 10px; }
    .main-video__btn:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .main-video #pause::before {
    content: url(../img/icons/pause.svg); }

.logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  max-width: 175px; }
  .logos img {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .logos img:last-child {
      margin-right: 0; }

.section-title {
  font-weight: bold;
  font-size: 35px;
  color: #141414; }

.why {
  padding-top: 54px;
  padding-bottom: 75px; }
  .why__title {
    margin-bottom: 75px; }
  .why__item {
    margin-bottom: 20px; }
  .why-item {
    background: #FFFFFF;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 4px 40px #D9E4FF;
            box-shadow: 0px 4px 40px #D9E4FF;
    border: 2px solid transparent;
    height: 100%;
    padding-top: 44px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    min-height: 285px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .why-item:hover {
      border-color: #5F65F9; }
    .why-item__img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 78px;
      margin-bottom: 20px; }
    .why-item__txt {
      font-size: 17px;
      line-height: 27px;
      color: #2B262D;
      text-align: center; }

.problems {
  position: relative;
  background: #F5F8FF url(../img/problems-bg.jpg) center no-repeat;
  min-height: 595px; }
  .problems-info {
    padding-top: 58px; }
    .problems-info__title {
      font-weight: bold;
      font-size: 25px;
      line-height: 41px;
      color: #141414;
      margin-bottom: 55px; }
    .problems-info__list {
      padding-left: 0;
      list-style: none;
      font-size: 17px;
      color: #141414; }
      .problems-info__list li {
        padding-left: 41px;
        position: relative;
        margin-bottom: 21px; }
        .problems-info__list li::before {
          content: url(../img/icons/x.svg);
          position: absolute;
          left: 0;
          top: 0; }
  .problems-icons {
    height: 100%;
    position: relative; }
    .problems-icons__dislike {
      position: absolute; }
    .problems-icons__1 {
      top: 143px;
      left: -19px;
      -webkit-transform: rotate(-18deg);
          -ms-transform: rotate(-18deg);
              transform: rotate(-18deg); }
    .problems-icons__2 {
      top: 86px;
      left: 94px;
      -webkit-transform: rotate(27deg);
          -ms-transform: rotate(27deg);
              transform: rotate(27deg); }

.dialog {
  background: #FFFFFF;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 20px;
  line-height: 34px;
  color: #000;
  position: relative;
  max-width: 235px;
  position: absolute;
  top: 104px;
  right: -183px;
  padding: 16px 28px; }
  .dialog::before {
    content: url(../img/icons/dialog.svg);
    position: absolute;
    left: 34px;
    bottom: -29px; }

.advantages {
  padding-top: 72px;
  padding-bottom: 126px; }
  .advantages__title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 41px;
    color: #141414;
    margin-bottom: 54px; }
  .advantages-item {
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 10px 90px #DDE7FF;
            box-shadow: 0px 10px 90px #DDE7FF;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%; }
    .advantages-item__img {
      text-align: center;
      margin-bottom: 21px;
      min-height: 258px; }
    .advantages-item__title {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      color: #181818;
      margin-bottom: 32px; }
    .advantages-item__list {
      padding-left: 10px;
      list-style: none;
      font-size: 17px;
      line-height: 28px;
      color: #0F0F0F; }
      .advantages-item__list li {
        padding-left: 41px;
        position: relative;
        margin-bottom: 27px; }
        .advantages-item__list li::before {
          content: url(../img/icons/li.svg);
          position: absolute;
          left: 0;
          top: 0; }

.work {
  background: #4F55EA url(../img/work-bg.png) 0 0 no-repeat;
  padding-top: 52px;
  padding-bottom: 41px;
  position: relative;
  overflow-x: hidden; }
  .work__title {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 35px;
    margin-bottom: 19px; }
  .work-slider {
    padding-top: 66px; }
    .work-slider__item {
      padding-left: 17.5px;
      padding-right: 17.5px; }
  .work-item__img {
    -webkit-border-radius: 11px;
            border-radius: 11px;
    overflow: hidden;
    margin-bottom: 39px; }
  .work-item__txt {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #9A9EFF; }

.slick-current .work-item__txt {
  color: #fff; }

.slick-dots {
  bottom: initial;
  top: 0; }
  .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 4px; }
    .slick-dots li button {
      width: 8px;
      height: 8px;
      padding: 0; }
      .slick-dots li button::before {
        position: initial;
        width: 8px;
        height: 8px;
        content: "";
        display: block;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #7479FD;
        opacity: 1; }
  .slick-dots li.slick-active button::before {
    background: #fff;
    opacity: 1; }

.fancybox-infobar {
  display: none; }

.work-arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 929px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
  z-index: 99; }

.arrow-btn {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: none; }
  .arrow-btn:hover {
    -webkit-box-shadow: 0px 4px 12px rgba(76, 81, 213, 0.8);
            box-shadow: 0px 4px 12px rgba(76, 81, 213, 0.8); }

.prev {
  background: #7E83FF url(../img/icons/prev.svg) center no-repeat; }

.next {
  background: #7E83FF url(../img/icons/next.svg) center no-repeat; }

.price {
  background: #F5F8FF;
  padding-top: 90px;
  padding-bottom: 67px; }
  .price__txt {
    font-size: 15px;
    color: #7692C9;
    margin-bottom: 8px; }
  .price-table {
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 9px 90px #CDDCFF;
            box-shadow: 0px 9px 90px #CDDCFF;
    padding-bottom: 18px;
    margin-bottom: 33px; }
  .price-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center; }
    .price-row:first-child .price-td {
      padding-top: 0;
      padding-bottom: 0; }
      .price-row:first-child .price-td:first-child {
        padding-left: 0; }
    .price-row:nth-child(even) {
      background: #F7F9FF; }
  .price-td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative; }
    .price-td:first-child {
      font-size: 17px;
      line-height: 28px;
      color: #0F0F0F;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 45%;
          -ms-flex: 0 0 45%;
              flex: 0 0 45%;
      padding-left: 59px; }
      .price-td:first-child img {
        margin-left: 12px; }
    .price-td:nth-child(2) {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 55%;
          -ms-flex: 0 0 55%;
              flex: 0 0 55%; }
    .price-td:nth-child(3) {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 55%;
          -ms-flex: 0 0 55%;
              flex: 0 0 55%; }
  .price-value {
    text-align: center;
    font-size: 20px;
    color: #0F0F0F; }
  .price-th {
    text-align: center;
    font-weight: 600;
    font-size: 23px;
    color: #0F0F0F; }
  .price-title {
    font-weight: bold;
    font-size: 30px;
    color: #131313;
    height: 106px;
    width: 423px;
    background: transparent url(../img/price-title.png) 0 0 no-repeat;
    padding-left: 59px;
    padding-top: 23px; }
    .price-title::before {
      content: url(../img/icons/rub.svg);
      margin-right: 30px;
      position: relative;
      top: 3px; }

.demo {
  background: transparent url(../img/demo-bg.png) right 0px bottom 0px no-repeat;
  padding-top: 66px;
  padding-bottom: 1px;
  overflow-x: hidden; }
  .demo-info {
    padding-top: 21px; }
    .demo-info__title {
      font-weight: bold;
      font-size: 35px;
      color: #151515;
      margin-bottom: 5px; }
    .demo-info__subtitle {
      font-size: 17px;
      color: #000000;
      margin-bottom: 37px; }
  .demo-form {
    max-width: 365px; }
    .demo-form__input {
      display: block;
      width: 100%;
      height: 50px;
      background: #F5F8FF;
      border: 1px solid #E7EEFF;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      margin-bottom: 25px;
      padding-left: 23px;
      font-size: 17px;
      color: #000; }
      .demo-form__input::-webkit-input-placeholder {
        color: #C1C9DB; }
      .demo-form__input::-moz-placeholder {
        color: #C1C9DB; }
      .demo-form__input:-moz-placeholder {
        color: #C1C9DB; }
      .demo-form__input:-ms-input-placeholder {
        color: #C1C9DB; }
      .demo-form__input:focus {
        background: #fff;
        border-color: #4349C8; }
    .demo-form__btn {
      width: 100%;
      height: 50px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background: #FFD027;
      font-size: 20px;
      color: #000;
      border: none; }
      .demo-form__btn:hover {
        background: #ffc800; }
  .demo-img img {
    position: relative;
    left: -137px; }

.clients {
  background: #F5F8FF;
  padding-top: 66px;
  padding-bottom: 53px; }
  .clients-title {
    font-weight: 600;
    font-size: 35px;
    color: #151515; }
  .clients-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.footer {
  padding-top: 24px;
  padding-bottom: 11px; }
  .footer-logo {
    margin-bottom: 20px; }
  .footer-txt {
    padding-top: 21px;
    padding-left: 18px; }
    .footer-txt p {
      font-size: 15px;
      line-height: 26px;
      color: #131313;
      margin-bottom: 5px; }
  .footer-menu {
    padding-left: 34px;
    padding-top: 22px;
    list-style: none; }
    .footer-menu li {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 6px;
      color: #131313; }
      .footer-menu li a {
        color: #131313; }
        .footer-menu li a:hover {
          text-decoration: underline; }
  .footer-contacts {
    text-align: center;
    padding-top: 18px; }
    .footer-contacts .phone {
      text-align: right;
      margin-bottom: 20px; }
      .footer-contacts .phone a {
        background: #4F55EA;
        color: #fff; }
        .footer-contacts .phone a::before {
          content: url(../img/icons/phone-white.svg); }
    .footer-contacts .mail {
      font-size: 17px;
      color: #0F0F0F;
      margin-left: 56px; }
      .footer-contacts .mail::before {
        content: url(../img/icons/mail.svg);
        margin-right: 14px; }

.copyright {
  font-size: 13px;
  line-height: 21px;
  color: #131313; }

.mobile-td {
  display: none; }

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  min-height: 100vh;
  background: #F5F8FF;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  display: none; }
  .mobile-menu .logo {
    margin-bottom: 30px; }
  .mobile-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center; }
  .mobile-menu .menu__item {
    margin-right: 0;
    margin-bottom: 10px; }

.m-menu {
  display: none;
  width: 40px;
  height: 40px;
  background: transparent url(../img/icons/burger.svg) center no-repeat;
  position: absolute;
  z-index: 20;
  top: 10px;
  left: 10px; }
  .m-menu_active {
    background: transparent url(../img/icons/close.svg) center no-repeat; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  z-index: 999; }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000;
    opacity: .5;
    cursor: pointer; }
  .modal-callback {
    margin: 40px auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 420px;
    max-width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 3;
    background: #fff;
    padding: 40px 15px; }
    .modal-callback .demo-form {
      margin-left: auto;
      margin-right: auto; }
    .modal-callback .close-modal {
      position: absolute;
      top: 0px;
      right: 0;
      cursor: pointer; }

.demo-form__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px; }

@media (min-width: 1400px) and (max-width: 1599px) {
  .dialog {
    top: 25px;
    right: -95px; } }

@media (min-width: 1200px) and (max-width: 1399px) {
  .dialog {
    top: 35px;
    right: initial;
    left: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .main-video__player {
    height: 253px; }
    .main-video__player video {
      max-width: 100%;
      height: auto; }
  .main-info__desc {
    margin-bottom: 25px; }
  .why-item {
    padding-left: 10px;
    padding-right: 10px; }
  .problems {
    -webkit-background-size: cover;
            background-size: cover;
    min-height: initial;
    padding-top: 40px;
    padding-bottom: 40px; }
  .dialog {
    right: initial;
    left: 110px;
    top: 40px; }
    .dialog::before {
      -webkit-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
              transform: scale(-1, 1); }
  .price-td:first-child img {
    margin-left: 0;
    margin-right: 10px; }
  .clients {
    padding-top: 40px;
    padding-bottom: 40px; }
    .clients-title {
      text-align: center;
      margin-bottom: 20px; }
  .footer-txt {
    padding-top: 0;
    padding-left: 0; }
  .footer-menu {
    padding-left: 0;
    padding-top: 0; }
  .footer-contacts .mail {
    margin-left: 0; }
  .menu__item {
    margin-right: 40px; } }

@media (max-width: 991px) {
  .phone a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px; }
  .menu__item {
    margin-right: 20px;
    font-size: 14px; }
  .main {
    padding-top: 40px;
    padding-bottom: 40px; }
  .main-info__desc {
    padding-right: 0;
    margin-bottom: 20px; }
  .main-info__more {
    height: auto;
    padding-top: 0; }
    .main-info__more::before {
      display: none; }
    .main-info__more span {
      padding-left: 0;
      border-left: none;
      max-width: initial; }
  .main-info {
    margin-bottom: 40px; }
  .top-wrapper {
    -webkit-background-size: cover;
            background-size: cover; }
  .main-video__player {
    height: 391px; }
    .main-video__player video {
      width: 100%;
      height: 100%; }
  .problems {
    background: #F5F8FF;
    min-height: initial;
    padding-top: 40px;
    padding-bottom: 40px; }
  .problems-info {
    padding-top: 0; }
  .problems-icons {
    display: none; }
  .advantages .col-lg-6 {
    margin-bottom: 40px; }
  .work-arrows {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
  .price-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .price-row:first-child {
      display: none; }
  .price-td:first-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-left: 15px;
    text-align: center; }
  .price-td:nth-child(2), .price-td:nth-child(3) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: center; }
  .mobile-td {
    display: block; }
  .demo-img img {
    max-width: 100%;
    position: initial; }
  .demo-info {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 0; }
  .demo {
    padding-top: 40px; }
  .demo-form {
    margin-left: auto;
    margin-right: auto; }
  .clients-title {
    text-align: center;
    margin-bottom: 25px; }
  .clients {
    padding-top: 40px;
    padding-bottom: 40px; }
  .advantages {
    padding-top: 40px;
    padding-bottom: 40px; }
  .footer-txt {
    padding-top: 0;
    padding-left: 0; }
  .footer-menu {
    padding-left: 0;
    padding-top: 18px; }
  .footer-contacts .mail {
    margin-left: 0; }
  .footer-contacts .phone {
    text-align: left; }
  .footer-contacts {
    text-align: left; }
  .work-item img {
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 767px) {
  .header__nav {
    display: none; }
  .logo {
    text-align: center; }
  .header__phone {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }
  .main-info__title {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 20px;
    padding-right: 0; }
  .main-info__desc {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 20px; }
  .main-info__more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .main-info__more span {
      margin-right: 0;
      text-align: center;
      margin-bottom: 10px; }
  .main-video__player {
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .section-title {
    font-size: 24px; }
  .why {
    padding-top: 40px;
    padding-bottom: 40px; }
    .why__title {
      margin-bottom: 30px; }
  .problems-info__title {
    font-size: 22px;
    line-height: normal;
    margin-bottom: 30px; }
  .problems-info__list li {
    padding-left: 30px; }
  .advantages__title {
    font-size: 22px;
    line-height: normal;
    margin-bottom: 30px; }
  .advantages-item__img {
    min-height: initial; }
  .advantages-item {
    padding: 20px; }
  .advantages-item__list {
    padding-left: 0; }
  .advantages-item__list li {
    padding-left: 30px; }
  .work-item img {
    max-width: 100%; }
  .work-arrows {
    display: none; }
  .work {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #4F55EA; }
    .work__title {
      font-size: 24px; }
  .price-td:nth-child(2), .price-td:nth-child(3) {
    max-width: 50%; }
  .mobile-td {
    font-size: 14px; }
  .price-value {
    font-size: 18px; }
  .price {
    padding-top: 40px;
    padding-bottom: 40px; }
  .demo-img {
    display: none; }
  .demo-info__title {
    font-size: 24px; }
  .demo-form {
    max-width: 100%; }
  .clients-title {
    font-size: 24px; }
  .clients-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px; }
  .clients-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    text-align: center; }
    .clients-item img {
      max-width: 100%; }
  .footer-logo {
    text-align: center; }
  .footer-contacts .phone {
    text-align: center; }
  .footer-contacts {
    text-align: center; }
  .m-menu {
    display: block; }
  .header__phone {
    text-align: center; }
  .logos img {
    margin: 5px; }
  .logos {
    max-width: initial; }
  .demo-form__title {
    font-size: 22px; } }
